<?xml version="1.0"?>
<launch>

   <arg name="model" value="$(find raptor_bot_v1)/urdf/main.xacro"/>

   <param name="robot_description"
	  command="$(find xacro)/xacro $(arg model)" />


   <node pkg="tf" type="static_transform_publisher" name="base_quat_broadcaster" args="0 0 0 0 0 0 base_link quaternion 100"/>
   <node pkg="tf" type="static_transform_publisher" name="base_rgb_bc" args="0 0 0 0 0 0 base_link rgb_frame_id 100"/>
   <node pkg="tf" type="static_transform_publisher" name="base_depth_bc" args="0 0 0 0 0 0 base_link depth_frame_id 100"/>
   <node pkg="tf" type="static_transform_publisher" name="cam_map_bc" args="0 0 0 0 0 0 base_link camera_link 100"/>
   <node pkg="tf" type="static_transform_publisher" name="camdepth_map_bc" args="0 0 0 0 0 0 camera_depth_frame map 100"/>
   <node pkg="tf" type="static_transform_publisher" name="camdepth_optic_map_bc" args="0 0 0 0 0 0 camera_depth_optical_frame map 100"/>
   <node pkg="tf" type="static_transform_publisher" name="camrgb_map_bc" args="0 0 0 0 0 0 camera_rgb_frame map 100"/>
   <node pkg="tf" type="static_transform_publisher" name="camrgb_optic_map_bc" args="0 0 0 0 0 0 camera_rgb_optical_frame map 100"/>
</launch>
